<div style="width: 550px; height: 350px; position: relative; overflow: hidden;">
  <mat-vertical-stepper [linear]="'false'" #stepper>
    <mat-step>
      <ng-template matStepLabel>Beschreibung angeben</ng-template>

      <mat-form-field style="width: 40%">
        <input type="text" matInput required placeholder="Name" [(ngModel)]="userGroup.name">
      </mat-form-field>  

      <br>

      <button mat-button matStepperNext>Weiter</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Berechtigungslevel wählen</ng-template>

      <mat-form-field>
        <mat-select placeholder="Level" [(value)]="userGroup.access_level" >
          <mat-option *ngFor="let level of levels" [value]="level" (click)="setAccessLevel(level)">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <button mat-button matStepperPrevious>Zurück</button>
    </mat-step>

  </mat-vertical-stepper>

  <div *ngIf="!isNew" style="position: absolute; bottom: 0; left: 0;"> 
    <button id="userlist-add-identifier" style="margin-right: 10px;" mat-raised-button color="accent" (click)="deleteGroup()">
      <mat-icon>delete_outline</mat-icon>
      Löschen
    </button>
  </div>
  <div style="position: absolute; bottom: 0; right: 0;">
    <button id="userlist-add-identifier" style="margin-right: 10px;" mat-raised-button color="primary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      Abbrechen
    </button>
    <button id="userlist-add-identifier" mat-raised-button color="primary" (click)="saveGroup()">
      <mat-icon>save</mat-icon>
      Speichern
    </button>
  </div>
</div>
