

<div id="login-card">
  <mat-card class="custom-mat-card" style="width: 300px;">
    <!-- <mat-card-header class="custom-login-mat-card-title" style="border-bottom: 1px solid #424242"> -->
    <mat-card-header class="custom-login-mat-card-title">
      <mat-card-title style="color: #424242;">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field style="width: 100%">
        <mat-icon matSuffix style="color: #424242;">person</mat-icon>
        <input type="text" matInput placeholder="Nutzername" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-icon matSuffix style="color: #424242;">lock</mat-icon>
        <input type="password" matInput placeholder="Passwort" [(ngModel)]="password" (keyup)="checkKeyPressed($event)">
      </mat-form-field>
      <button mat-raised-button color="primary" style="width: 80%; left: 10%;" (click)="validateCredentials()">anmelden</button>
      <!-- <button mat-raised-button color="primary" style="width: 80%; left: 10%;" (click)="openCreateUserDialog()">anmelden</button> -->
      
    </mat-card-content>
  </mat-card>
</div>