<div style="width: 750px; height: 500px; position: relative; overflow: hidden;">
  <mat-vertical-stepper [linear]="'false'" #stepper>
    <mat-step>
      <ng-template matStepLabel>Namen eingeben</ng-template>

      <mat-form-field style="width: 40%">
        <input type="text" matInput required placeholder="Vorname" [(ngModel)]="user.name">
      </mat-form-field>
      <mat-form-field style="width: 40%">
        <input type="text" matInput required placeholder="Nachname" [(ngModel)]="user.lastname">
      </mat-form-field>

      <br>

      <button mat-button matStepperNext>Weiter</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Geburtsdatum angeben</ng-template>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthdate" required
          placeholder="Geburtsdatum angeben">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>TagUID scannen/eingeben</ng-template>

      <mat-form-field style="width: 30%">
        <input type="text" matInput required placeholder="UID" [(ngModel)]="user.taguid">
      </mat-form-field>

      <br>

      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Berechtigungslevel wählen</ng-template>

      <div style="display: flex;">
        <mat-form-field>
          <mat-select placeholder="Level" [(value)]="user.accesslevel">
            <mat-option *ngFor="let level of levels" [value]="level" (click)="setAccessLevel(level)">
              {{level}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div style="margin: 0px 30px;">
          <p>oder</p>
        </div>
        <form>
          <mat-form-field>
            <input type="text" placeholder="Nutzergruppe wählen" [(value)]="user.user_group_name" aria-label="Number" matInput [formControl]="control" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let group of filteredUserGroups | async" [value]="group.name" (click)="selectedUserGroup(group)">
                {{group.id}} - {{group.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>

      <br>

      <button mat-button matStepperPrevious>Zurück</button>
    </mat-step>

  </mat-vertical-stepper>

  <div *ngIf="!isNew" style="position: absolute; bottom: 0; left: 0;">
    <button id="userlist-add-identifier" style="margin-right: 10px;" mat-raised-button color="accent"
      (click)="deleteUser()">
      <mat-icon>delete_outline</mat-icon>
      Löschen
    </button>
  </div>
  <div style="position: absolute; bottom: 0; right: 0;">
    <button id="userlist-add-identifier" style="margin-right: 10px;" mat-raised-button color="primary"
      (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      Abbrechen
    </button>
    <button id="userlist-add-identifier" mat-raised-button color="primary" (click)="saveUser()">
      <mat-icon>save</mat-icon>
      Speichern
    </button>
  </div>
</div>