<div style="overflow: hidden;">
  <h3>Grundsätzliches zur Website</h3>
  <p>Erstellt mit dem Angular 6 Framework. Steuerelemente mit Angular Material, Icons mit Material Icons.</p>

  <a href="https://angular.io/">Angular - (https://angular.io/)</a>
  <br>
  <br>
  <a href="https://material.angular.io/">Angular Material - (https://material.angular.io/)</a>
  <br>
  <br>
  <a href="https://material.io/">Material - (https://material.io/)</a>

</div>