<div>
    <mat-grid-list [cols]="3" [rowHeight]="'1'">
        <mat-grid-tile [colspan]="1" [rowspan]="30" [style.background]="'#6d6d6d'" id="piece-of-sticky-something"
            class="make-it-sticky"
            style="box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="30" [style.background]="'#6d6d6d'" id="piece-of-sticky-something"
            class="make-it-sticky"
            style="box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
            <img src="../../favicon.ico" alt="">
            <p style="color: white; font-size: 140%;">
                dministration Center
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="30" [style.background]="'#6d6d6d'" id="piece-of-sticky-something"
            class="make-it-sticky"
            style="box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
            <button mat-mini-fab color="accent" style="margin-right: 20px;" (click)="openInfoDialog()">
                <mat-icon aria-label="Example icon-button with a heart icon">info_outlined</mat-icon>
            </button>
            <!-- <button mat-mini-fab color="accent" style="margin-right: 20px;" (click)="openSettingsDialog()">
                <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
            </button> -->
            <button mat-mini-fab color="accent" (click)="openLogoutDialog()">
                <mat-icon aria-label="Example icon-button with a heart icon">exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!-- <div>
    <mat-grid-tile [colspan]="1" [rowspan]="30" [style.background]="'#6d6d6d'" id="piece-of-sticky-something"
        class="make-it-sticky"
        style="box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
        <img src="../../favicon.ico" alt="">
        <p style="color: white; font-size: 140%;">
            dministration
        </p>
    </mat-grid-tile>
</div> -->

<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</div>