<div style="position: relative; min-height: 150px; width: 300px; overflow: hidden;">
  <h1 mat-dialog-title>{{data.header}}</h1>
  <div mat-dialog-content style="padding-bottom: 50px;">
    <p>{{data.message}}</p>
  </div>
  <div style="position: absolute; bottom: 0; right: 0; margin-top: 50px;">
    <button mat-button [mat-dialog-close]="" (click)="returnFalse()">{{data.buttonTxtFalse}}</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="returnTrue()">{{data.buttonTxtTrue}}</button>
  </div>
</div>