<!-- <div style="border-width: 0px 0px 3px 3px; border-style: solid; border-color: #ff1744; border-radius: 0px 0px 0px 10px;"> -->
<div style="border-left-width: 3px; border-left-style: solid; border-color: #ff1744;
box-shadow: 20px 0px 0px 0px rgba(0, 0, 0, 0.2);">
  <div style="margin: 10px; border-radius: 0px 0px 0px 10px;">
    <!-- <mat-card class="custom-mat-card"> -->
    <mat-card-header>
      <!-- <mat-card-title style="color: rgba(31, 86, 115, 1);"> -->
      <mat-card-title style="color: #fff;">
        <mat-icon>compare_arrows</mat-icon>
        Aktivitäten
      </mat-card-title>
      <mat-card-subtitle style="color: #fff; opacity: 0.6;">
        (letzte 7)
      </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let activity of activities">
        <mat-divider class="custom-activity-mat-divider"></mat-divider>
        <h3 mat-line style="color: #fff; opacity: 0.8;">{{activity.description}}</h3>
        <h3 mat-line style="color: #fff;">{{activity.name}} {{activity.lastname}}</h3>
        <p mat-line style="color: #fff; opacity: 0.6;"> {{activity.timestamp | date: 'dd.MM.yyyy h:mm:ss'}} </p>
      </mat-list-item>
    </mat-list>
    <!-- </mat-card> -->
  </div>
</div>