<div class="custom-tab-content" style="display: flex;">

  <div
    id="userlist-identifier" style="width: 25%; background-color: #fff; border-radius: 10px; z-index: 20;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
    <div style="padding: 20px;">
      <mat-form-field id="userlist-search-identifier" class="custom-users-mat-form-field" style="width: 100%">
        <mat-icon matSuffix style="color: #424242;">search</mat-icon>
        <input type="text" matInput placeholder="Suchen" #criteria
          (input)="filterUserList(criteria.value)">
      </mat-form-field>
      <button id="userlist-add-identifier" mat-raised-button color="accent" style="width: 100%;" (click)="openUserDialog('new')">
        <mat-icon>person_add</mat-icon>
        Benutzer hinzufügen
      </button>

      <div  id="userlist-tableheader-identifier" style="display: flex; flex-direction: row; margin: 16px 173px 0px 16px">
        <div style="text-align: right;">
          <p style="color: #424242; margin: 0px; width:45px; font-weight: bold;">ID</p>
        </div>
        <p style="color: #424242; margin: 0px; font-weight: bold; margin: 0px 0px 0px 10px;">Name</p>
      </div>
      <mat-nav-list [@filterAnimation]="userTotal" id="custom-mat-userlist" class="make-scrollable">
        <mat-list-item *ngFor="let user of userList; let i = index" id="userlist-item-identifier-{{i}}" style="cursor:pointer;" (click)="openUserDetail(user.id)">
          <mat-divider class="custom-users-mat-divider"></mat-divider>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="text-align: right;">
              <p style="color: #424242; margin: 0px; width: 45px;">#{{ user.id }}</p>
            </div>
            <p style="color: #424242; margin: 0px 0px 0px 10px;">{{ user.name }} {{ user.lastname }}</p>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div *ngIf="currentUser" [@EnterLeave]="'flyIn'" id="usercard-identifier"
    style="width: 50%; background-color: #fff; border-radius: 10px; border-top-left-radius: 15px; border-top-right-radius: 15px; margin-left: auto; margin-right: auto;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
    <div id="usercard-header-identifier"
      style="display: flex; justify-content: space-between; border-bottom: solid 2px #ff1744; background-color: #6d6d6d; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <div style="padding: 20px; display: flex;">
        <div style="padding-right: 20px;">
          <img src="../../../assets/pictures/user_icon.png" alt=""
            style="border-radius: 50%; height: 80px; border: solid 2px #fff; background: #fff;">
        </div>
        <div class="custom-user-card-header-titles">
          <h2 style="color: #fff; margin:0px;">{{currentUser.name}} {{currentUser.lastname}}</h2>
          <h3 style="color: #fff; opacity: 0.9; margin: 0px;">{{currentUser.taguid}}</h3>
          <h4 style="color: #fff; opacity: 0.7; margin: 0px;">{{currentUser.birthdate | date}} geboren.</h4>
        </div>
      </div>
      <div style="padding-top: 38px;">
        <button mat-mini-fab color="primary" style="margin-right: 20px;" (click)="openUserDialog(currentUser)">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
      </div>
    </div>

    <div style="margin: 20px;" id="usercard-body-identifier">
      <div id="usercard-text-identifier">
        <p *ngIf="!currentUser.user_group_id" style="color:#424242">
          <strong>{{currentUser.name}}</strong> hat mit Zugriffslevel <strong>[ {{currentUser.accesslevel}} ]</strong>
          die Berechtigung folgende Schlösser
          zu öffnen.</p>
        <p *ngIf="currentUser.user_group_id" style="color:#424242"><strong>{{currentUser.name}}</strong> hat über die
          Benutzergruppe <strong>[ {{currentUser.user_group_name}} ]</strong> mit Zugriffslevel <strong>[
            {{currentUser.accesslevel}} ]</strong> die Berechtigung folgende Schlösser
          zu öffnen.
        </p>
      </div>

      <div *ngIf="lockList" id="lockList-identifier">
        <div *ngIf="lockList.data">
          <mat-form-field>
            <mat-icon matSuffix style="color: #424242;">search</mat-icon>
            <input matInput (keyup)="filterLocksList($event.target.value)" placeholder="Suchen">
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="lockList" matSort>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Beschreibung </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
              </ng-container>

              <ng-container matColumnDef="accesslevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Zugriffslevel </th>
                <td mat-cell *matCellDef="let row"> {{row.accesslevel}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsLocks"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsLocks;">
              </tr>
            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons (click)="paginatorPageChanged()">
            </mat-paginator>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>