<div class="custom-tab-content">

  <div
    style="width: 60%; background-color: #fff; border-radius: 10px; z-index: 20; margin-left: auto; margin-right: auto;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">

    <div id="lock-card-identifier" style="padding: 20px;">

      <mat-form-field style="width: 30%">
        <mat-icon matSuffix style="color: #424242;">search</mat-icon>
        <input type="text" matInput placeholder="Suchen" (keyup)="filterLocksList($event.target.value)">
      </mat-form-field>

      <div style="position: relative; float: right; padding-top: 4px;">
        <button mat-flat-button color="accent" (click)="openLockDialog()">
          <mat-icon>playlist_add</mat-icon>
          Schloss hinzufügen
        </button>
      </div>

      <br>

      <div id="locks-table-container" class="mat-elevation-z8" >
        <table mat-table [dataSource]="lockList" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Beschreibung </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="accesslevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zugriffslevel </th>
            <td mat-cell *matCellDef="let row"> {{row.accesslevel}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openLockDialog(row)" style="cursor: pointer;"></tr>
        </table>
      </div>

    </div>

  </div>

</div>