/* You can add global styles to this file, and also import other style files */
// @import "my-theme.scss";

body {
    margin: 0px;
    overflow: hidden;
    /* background-color: #d3d3d3; */
    /* background-color: rgba(28, 48, 65, 1); */
    /* background-color: #6d6d6d; */
    background-color: #424242;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.home-custom-grid-align-unset > figure.mat-figure{
    align-items: unset !important;
}

.make-it-sticky.mat-grid-tile#piece-of-sticky-something {
    position: fixed; top: 0; overflow-y: hidden; z-index: 10;
}

.custom-mat-card.mat-card {
    border-radius: 10px;
}

.mat-card-header.custom-login-mat-card-title > .mat-card-header-text{
    margin-left: 0px;
}

.custom-home-mat-tab-group.mat-tab-group.mat-primary > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels >  .mat-tab-label {
    color: #fff !important;
    font-size: 16px !important;
    opacity: 0.8 !important;
}

// .custom-home-mat-tab-group.mat-tab-group.mat-primary > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-ink-bar {
//     background-color: #ff1744 !important;
// }

.custom-home-mat-tab-group.mat-tab-group.mat-primary > .mat-tab-header {
    border-bottom: 1px solid #1b1b1b !important;
}

.custom-activity-mat-divider.mat-divider.mat-divider-horizontal {
    border-top-color: #1b1b1b;
}

.custom-users-mat-divider.mat-divider.mat-divider-horizontal {
    border-top-color: #FF1744;
}

.custom-tab-content {
    margin: 20px; 
    height: 755px; 
    width:97%; 
    overflow: hidden;
}
  
.warn-snackbar {
    background: #FF1744;
    color: white;
    font-weight: 600;
}

.info-snackbar {
    background: #6d6d6d;
    color: white;
    font-weight: 600;
}