<div (window:scroll)="scrollEvent($event)">
  <!-- <div>
    <mat-grid-list [cols]="1" [rowHeight]="'1'">
      <mat-grid-tile [colspan]="1" [rowspan]="30" [style.background]="'#6d6d6d'" id="piece-of-sticky-something" class="make-it-sticky"
        style="box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);">
        <img src="../../favicon.ico" alt="">
        <p style="color: white; font-size: 140%;">
          dministration
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <div style="width: 100%; display: flex; justify-content: space-between;">
    <div style="width: 80%;">

      <div style="display: flex; justify-content: space-around; margin-top: 10px;">
        <mat-card-header>
          <mat-card-title style="color: #fff;">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">settings</mat-icon>
                Verwaltung
              </ng-template>
            </mat-tab>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-tab-group class="custom-home-mat-tab-group">

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Benutzer
          </ng-template>
          <app-users></app-users>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>lock</mat-icon>
            Schlösser & Berechtigungen
          </ng-template>
          <app-locks></app-locks>          
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>group</mat-icon>
            Benutzergruppen
          </ng-template>
          <app-user-groups></app-user-groups>
        </mat-tab>

      </mat-tab-group>
      
    </div>

    <app-activities style="width: 20%; position: fixed; top: 127px; right: 0%; overflow-y: hidden; z-index: 10;">
    </app-activities>

  </div>

</div>